<div class="container content">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<span class="anchor" id="formLogin"></span>

			<!-- form card login with validation feedback -->
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3	class="mb-0">Lista destinos</h3>
				</div>

				<div class="card-body">
					<form>
                        <div class="form-group">
                            <label for="destino">Destino: </label>
                            <input type="text" class="form-control" id="destino" placeholder="Ingresar destino..." #destino>
                        </div>
                        <div class="form-group">
                            <label for="pais">País: </label>
                            <input type="text" class="form-control" id="pais" placeholder="Ingresar país..." #pais>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="guardar(destino.value, pais.value)">Registrar</button>
                    </form>
				</div>
			</div>
		</div>
    </div>
    
    <hr	class="mb-5">

	<ul>
        <li *ngFor="let d of destinos">Destino {{d.id}}: {{d.nombre}}, {{d.pais}}</li>
    </ul>

	<hr	class="mb-5">

	<div class="row row-flex">
		<app-destino-viaje *ngFor="let d of destinos" [destino]="d"></app-destino-viaje>
	</div>
</div>