<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <form class="form-inline" *ngIf="!authService.getUser()">
        <label for="username" class="mr-sm-2"><b style="color: white;">User:</b> <em style="color: gray;">(user)</em></label>
        <input class="form-control mb-2 mr-sm-2" name="username" #username>
    
        <label for="password" class="mr-sm-2"><b style="color: white;">Password:</b> <em style="color: gray;">(password)</em></label>
        <input class="form-control mb-2 mr-sm-2" type="password" name="password" #password>
        
        <a class="btn btn-primary" style="color: white;" (click)="login(username.value, password.value)">Entrar</a>
        &nbsp;
        <label style="color: red;">{{mensajeError}}</label>
    </form>
    <ul class="navbar-nav" *ngIf="authService.getUser()">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">Destinos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/reservas']">Reservas</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-danger" style="color: white;" (click)="logout()">Salir</a>
        </li>
    </ul>
</nav>
