<div class="card-content">
	<div class="card-img">
		<img src="https://placeimg.com/380/230/nature" alt="">
		<span><h4>{{position}}</h4></span>
	</div>
	<div class="card-desc">
		<h3>
			{{destino.nombre}}
			<span class="material-icons" style="color: gold;" [style.display]="destino.selected ? '' : 'none'">grade</span>
		</h3>
		<p>
			Este hermoso destino se encuentra en {{destino.pais}}.
			&nbsp;
			<a [routerLink]="['/destino']">Ver info</a>
		</p>
		<br>
		<a href="#" class="btn-card" (click)="seleccionar()">Like!</a>
		&nbsp;
		<a href="#" (click)="voteUp()">
			<i class="material-icons md-18">thumb_up</i>
		</a>
		<a href="#" (click)="voteDown()">
			<i class="material-icons md-18">thumb_down</i>
		</a>
		&nbsp;
		{{destino.votes}}
		<br><br>
		<a href="#" (click)="quitar()">
			<i class="material-icons md-18" style="color: red;">delete_forever</i>
		</a>
	</div>
</div>

<br />