<div class="row row-flex">
<div class="col-md-4 card">{{recordatorio.recordatorio}}</div>
<div class="col-md-4 card">{{recordatorio.fecha}}</div>
<div class="col-md-4 card"><button class="tarea-eliminar btn btn-danger" id="eliminar">Eliminar</button></div>
</div>