<div class="container">
    Current count: {{ count$ | async }}
    
    <br><br>

    <button id="increment" (click)="increment()" class="btn btn-primary"> + 1 </button>
    <button id="decrement" (click)="decrement()" class="btn btn-danger"> - 1 </button>
    <button id="random" (click)="random()" class="btn btn-success"> Random </button>
    <button id="reset" (click)="reset()" class="btn btn-light"> Reset </button>
    
    <br><br>

    <input type="text" id="numJump" placeholder="0" #numJump>
    <button id="jump" (click)="jump(numJump.value)" class="btn btn-info"> Jump </button>
</div>
