<div class="container content">
  <div class="jumbotron bg-dark text-white">
    <h1>
      {{ title }}
    </h1>
  </div>

  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" style="font-weight: bold;" [routerLink]="['/inicio']">Inicio</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/destino']">Destino</a> 
      </li>
    </ul>
  </nav>

  <br>

  <router-outlet></router-outlet>
</div>
