<div class="container content">
  <div class="page-header">
    <div class="container">
      <h1>Ruteo Simple</h1>
        <div class="navLinks">
          <a [routerLink]="['/home']">Inicio</a>
          <a [routerLink]="['/destino']">Destino</a>
        </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>