<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/home']">Destinos</a>
		</li>
    </ul>
</nav>

<div class="container content">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<span class="anchor" id="formLogin"></span>

			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3	class="mb-0">Lista destinos</h3>
				</div>

				<div class="card-body">
					<app-form-destino (onItemAdded)="guardar($event)"></app-form-destino>
				</div>
			</div>
		</div>
    </div>
    
    <!--hr	class="mb-5">

	<ul>
        <li *ngFor="let d of destinos">Destino {{d.id}}: {{d.nombre}}, {{d.pais}}</li>
    </ul-->

	<hr	class="mb-5">

	<div class="row row-flex">
		<app-destino-viaje 
			*ngFor="let d of destinos, let i=index"
			[idx]="i+1"
			[destino]="d"
			(clicked)="seleccionar($event)"
		></app-destino-viaje>
	</div>
</div>